extends layout

block content
  .section.no-pad-top
    .slider
      ul.slides
        li
          img(src='/images/Holler/crowd-sm.jpg', alt='The Bar')
          .caption.left-align
            h1 NKY's Undisputed Best.
            h5 We're pretty awesome.
        li
          img(src='/images/Holler/tap-handles-sm.jpg', alt='Tap Handles')
          .caption.right-align
            h1 Drink. Eat. Chill.
            h5 The finer parts of life.
        li
          img(src='/images/Holler/taps-sm.jpg', alt='The Tap')
          .caption.center-align
            h1 Beer. We Have lots.
            h5 And we're somewhat willing to share.

  .section
    .container
      .row
        .col.s12.m4
          a.preview-card-wrapper(href='/menu')
            .card.preview-card.light-green.lighten-3.hoverable
              .preview-card-image
                .card-image
                  img(src='/images/burger.jpg')
              .card-content
                .card-title.preview-title The Menu
                | See what the kitchen's cookin'. 
        .col.s12.m4
          a.preview-card-wrapper(href='/tap')
            .card.preview-card.light-green.lighten-4.hoverable
              .preview-card-image
                .card-image
                  img(src='/images/tap2.jpg')
              .card-content
                .card-title.preview-title The Tap
                | See what beers we're slingin'.
        .col.s12.m4
          a.preview-card-wrapper(href='https://www.facebook.com/HollerHopsandGrill')
            .card.preview-card.lime.lighten-4.hoverable
              .preview-card-image
                .card-image
                  img(src='/images/events.jpg')
              .card-content
                .card-title.preview-title Facebook
                | See what we got happenin'.
                
  .container
    .divider
  
  .section
    .container
      .row
        .col.s12
          h3.center-align Come See Us
        .col.m8.s12.maps
          iframe.z-depth-1(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3101.065066264534!2d-84.69697578530486!3d38.991011349026934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8841c42c9f4ce4bb%3A0xd9a9f33aa62289e5!2s7500+Oakbrook+Dr+%231%2C+Florence%2C+KY+41042!5e0!3m2!1sen!2sus!4v1447961574913', width='100%', height='322', scroll='false', frameborder='0', style='border:0; pointer-events:none', allowfullscreen='')
        .col.m4.s12
          .card.hours.light-green.lighten-4
            .card-content
              ul.special-font
                li M: 3p - 12a
                li Tu: 3p - 12a
                li W: 3p -12a
                li Th: 3p - 12a
                li F: 3p - 2a
                li Sa: 12p - 2a
                li Su: 12p - 12a
                
    .container
      .row
        .col.m8.s12
          h4.center-align What's Happenin'
          .card
            img.z-depth-1.responsive-img.materialboxed(src='/images/Holler/schedule-sm.jpg', alt='Events Schedule')
        .col.m4.s12
          .z-depth-1
            .fb-page(data-href='https://www.facebook.com/HollerHopsandGrill', data-tabs='timeline', data-small-header='true', data-adapt-container-width='true', data-height='350', data-width='500', data-hide-cover='false', data-show-facepile='true')
              .fb-xfbml-parse-ignore
                blockquote(cite='https://www.facebook.com/HollerHopsandGrill')
                  a(href='https://www.facebook.com/HollerHopsandGrill') Holler Hops and Grill

    #fb-root
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=352147471573572";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

          