doctype html
html(lang='en').light-green.lighten-2
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    title= title + ' | Holler Hops and Grill'
    meta(property='og:title', content=title + ' | Holler Hops and Grill')
    meta(property='og:type', content='restaurant')
    meta(property='og:image', content='http://www.hollerhops.com/images/Holler/logo-whitespace.png')
    meta(property='og:site_name', content='Holler Hops and Grill')
    meta(property='og:description', content=description || siteDescription)
    meta(property='og:latitude', content='38.9910070')
    meta(property='og:longitude', content='-84.6947870')
    meta(property='og:street-address', content='7500 Oakbrook Dr')
    meta(property='og:locality', content='Florence')
    meta(property='og:region', content='KY')
    meta(property='og:postal-code', content='41042')
    meta(property='og:country-name', content='United States')
    meta(name='keywords', content='holler hops,northern kentucky,florence,nky,bar,grill,restaurant,beer,bourbon,music')
    link(type='text/plain', rel='author', href='/humans.txt')
    link(rel="apple-touch-icon", sizes="57x57", href="/apple-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/apple-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/apple-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/apple-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/apple-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/apple-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/apple-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/apple-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-icon-180x180.png")
    link(rel="icon", type="image/png", sizes="192x192", href="/android-icon-192x192.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="96x96", href="/favicon-96x96.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
    link(rel="manifest", href="/manifest.json")
    meta(name="msapplication-TileColor", content="#ffffff")
    meta(name="msapplication-TileImage", content="/ms-icon-144x144.png")
    meta(name="theme-color", content="#ffffff")
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Fjalla+One', rel='stylesheet', type='text/css')
    link(href='/components/Materialize/dist/css/materialize.min.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='/stylesheets/style.css', type='text/css', rel='stylesheet', media='screen,projection')
  body.white
    .navbar-fixed
      nav.light-green.darken-2(role='navigation')
        .nav-wrapper.container
          a#logo-container.brand-logo.center(href='/') 
            img.logo.hide-on-small-only(src='/images/logo-600w.png', alt='Holler Hops Logo')
            img.logo-small.hide-on-med-and-up(src='/images/logo-600w.png', alt='Holler Hops Logo')
          ul.left.hide-on-med-and-down
            li: a(href='/menu') Food We Serve
            li: a(href='/tap') Beer We Pour
          ul.right.hide-on-med-and-down
            li: a(href='/story') Our Story
            li: a(href='/contact') Contact
            li.hours-dropdown-link
              a.dropdown-button(href='javascript:;', data-activates='hours-dropdown') We're 
                if isOpen
                  span.amber-text.lighten-3-text Open
                else 
                  span.pink-text.text-lighten-4 Closed
                i.material-icons.right arrow_drop_down
                
          ul#nav-mobile.side-nav.light-green.darken-3
            li: a(href='/').white-text Home
            li: a(href='/menu').white-text Food We Serve
            li: a(href='/tap').white-text Beer We Pour
            li: a(href='/story').white-text Our Story
            li: a(href='/contact').white-text Contact Us
            li.no-padding
              ul.collapsible.collapsible-accordion
                li
                  a.white-text.collapsible-header We're 
                    if isOpen
                      span.amber-text.lighten-3-text Open
                    else 
                      span.pink-text.text-lighten-4 Closed
                    i.mdi-navigation-arrow-drop-down.right
                  .collapsible-body
                    ul.light-green.darken-2
                      li: a.white-text Mon: 3p - 12a
                      li: a.white-text Tue: 3p - 12a
                      li: a.white-text Wed: 3p -12a
                      li: a.white-text Thu: 3p - 12a
                      li: a.white-text Fri: 3p - 2a
                      li: a.white-text Sat: 12p - 2a
                      li: a.white-text Sun: 12p - 12a
            li: a(href='https://www.facebook.com/HollerHopsandGrill').white-text Facebook
          a.button-collapse(href='#', data-activates='nav-mobile')
            i.material-icons menu
    
    ul#hours-dropdown.dropdown-content
      li: span.black-text Mon: 3p - 12a
      li: span.black-text Tue: 3p - 12a
      li: span.black-text Wed: 3p -12a
      li: span.black-text Thu: 3p - 12a
      li: span.black-text Fri: 3p - 2a
      li: span.black-text Sat: 12p - 2a
      li: span.black-text Sun: 12p - 12a
    
    .section.no-pad-top.white
      main
        block content
  footer
    .light-green.lighten-3
      .container
        .row
          .col.s12.center-align.grey-text.text-darken-2.quote
            .flow-text &quot;Here’s to alcohol: the cause of, and solution to, all of life’s problems.&quot;
    .light-green.lighten-2
      .container.footer-bottom
        .row
          .col.s12.center-align.black-text
            .facebook-info
              a(href='https://www.facebook.com/HollerHopsandGrill')
                img(src='/images/facebook.png', height=20 alt='Like us on Facebook')
            a.black-text(href='tel:8599186532') 859.918.6532
            address 7500 Oakbrook Dr, Florence, KY 41042
            | © 2016 Holler Hops Bar and Grill     
    
    include ./google-analytics.jade
    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/Materialize/dist/js/materialize.js')
    script(src='/javascripts/init.js')
