doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    title Holler Hops
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='/components/Materialize/dist/css/materialize.min.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='/stylesheets/style.css', type='text/css', rel='stylesheet', media='screen,projection')
  body
    .navbar-fixed
      nav.light-green.darken-3(role='navigation')
        .nav-wrapper.container
          a#logo-container.brand-logo.center(href='/') Holler
          ul.left.hide-on-med-and-down
            li: a(href='/menu') Food We Serve
            li: a(href='/tap') Beer We Pour
          ul.right.hide-on-med-and-down
            li: a(href='/about') Our Story
            li: a(href='/contact') Contact Us
          ul#nav-mobile.side-nav
            li: a(href='/') Home
            li: a(href='/menu') Food We Serve
            li: a(href='/tap') Beer We Pour
            li: a(href='/about') Our Story
            li: a(href='/contact') Contact Us
            li: a(href='/facebook') Facebook
          a.button-collapse(href='#', data-activates='nav-mobile')
            i.material-icons menu
    
    .section.no-pad-top
      block content
  footer
    .light-green.lighten-3
      .container
        .row
          .col.s12.center-align.grey-text.text-darken-2
            i.flow-text &quot;The first draught serveth for health, the second for pleasure, the third for shame, and the fourth for madness.&quot;
    .light-green.lighten-2
      .container.footer-bottom
        .row
          .col.s12.center-align.grey-text.text-darken-3
            a.grey-text.text-darken-3(href='tel:8599186532') 859.918.6532
            address 7500 Oakbrook Dr, Florence, KY 41042
            © 2016 Holler Hops Bar and Grill     

    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/Materialize/dist/js/materialize.js')
    script(src='/javascripts/init.js')
