extends layout

block content
  
  .parallax-container
    .parallax
      img(src='/images/Holler/crowd2-sm.jpg')
      
  .page-header.light-green.lighten-4
    .container
      h3 Our Story
    
  .container
    p. 
      Forged out of an endless lust for beer and the bourbon only the sweet Bluegrass of Kentucky can provide, 
      Holler Hops and Grill became the hero Northern Kentucky needed and even the one they deserved on a 
      dreamlike day in 2012. The most cheerful of crowds gathered and hoisted its founders onto their 
      shoulders chanting with wondrous exclaim, "Beer is here! Beer is here! Hallelujah; Beer is here!" It was then 
      that the heavens smiled upon the small yet glorious gem as a bolt of lightning struck pavement and the maltiest
      of stouts and the palest of ales began spewing from the ground like some sort of portal to another dimension 
      where alcohol roams free had burst open into a fountain of euphoric beauty. 
      
    p.
      That day marked the beginning of a brighter time for the patrons of Holler Hops and Grill. Some say it is where 
      they found themselves; while others say it is where they lost themselves in a spiral of live music and craft craft  
      beer. What fate holds in store for you at the doors of the mighty Holler Hops and Grill nobody truly knows - it is 
      an adventure you must embark on for yourself.
      
    p tl;dr - We're a cool bar with a pretty sweet beer selection and awesome food.
    
    .gallery
      .row
        .col.m6.s12
          img.responsive-img.materialboxed(src='/images/Holler/cooler3-sm.jpg')
        .col.m6.s12
          img.responsive-img.materialboxed(src='/images/Holler/clock-sm.jpg')
          img.responsive-img.materialboxed(src='/images/Holler/window-sm.jpg')
      .row
        .col.m5.s12
          img.responsive-img.materialboxed(src='/images/Holler/art-sm.jpg')
          img.responsive-img.materialboxed(src='/images/Holler/window-sm.jpg')
          img.responsive-img.materialboxed(src='/images/Holler/trogdor-sm.jpg')
        .col.m7.s12
          img.responsive-img.materialboxed(src='/images/Holler/bourbons-sm.jpg')
        
        