extends layout

block content
  
  .parallax-container
    .parallax
      img(src='/images/Holler/crowd2-sm.jpg')
      
  .page-header.light-green.lighten-4
    .container
      h3 Our Story
    
  .container
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent convallis et dui at viverra. Sed venenatis quam non venenatis vulputate. Integer ac finibus est. Duis id arcu sed erat gravida ultrices. Sed tincidunt convallis lacus quis dictum. Ut feugiat ut erat vitae tristique. Nam gravida venenatis erat vulputate volutpat.
    
    p Praesent quis leo non magna varius malesuada. Pellentesque sagittis ipsum in euismod ornare. In hac habitasse platea dictumst. Aenean fermentum efficitur sem, sit amet viverra nunc efficitur sit amet. Nunc sed nulla eu lacus tempus malesuada at ac nisi. Nam bibendum erat id eros mollis lobortis. Curabitur quis urna metus. Donec varius efficitur nulla, ut laoreet nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam sed mattis diam, eu auctor velit. Ut vitae facilisis ex, ac elementum dui. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    
    p Nullam ullamcorper ultricies viverra. Phasellus sed eros mauris. Proin vel dui ac diam hendrerit mollis non sed elit. Ut rhoncus euismod nisl, vel vestibulum tortor. Donec ultrices enim at nulla varius suscipit. Quisque venenatis nec nisi quis vulputate. Aenean in tortor eget enim pellentesque lacinia et eget magna.