extends layout

block content
  .page-header.light-green.lighten-4
    .container
      h3 What's On Tap
  .container
    .section
      table
        thead
          th Brewery
          th Name
          th APV
          th IBU
        tbody
          each beer, index in beers
            tr(class= index % 2 === 0 ? 'light-green lighten-5' : '' )
              td= beer.brewery
              td= beer.name
              td= beer.abv + '%'
              td= beer.ibu