.card, .preview-card {
	box-shadow: none;
}

.preview-card .preview-card-image {
	background-color: #000;
}

.preview-card .card-image{
	opacity: 0.8;
}

.preview-card:hover .card-image {
	opacity: 1;
}

.hours {
	margin-top: 0;
}

footer .row {
	margin-bottom: 0;
	padding: 15px 0;
	color: #fff;
}

footer address {
	font-style: normal;
}