html {
	font-family: Calibri,Trebuchet,sans-serif;
}

h1, h2, h3, h4, h5, h6, .card-title, nav  .nav-wrapper.container ul li , .special-font, footer  {
	text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
}

.page-header {
  margin: 0 0 20px;
  padding: 10px 0;
}

.logo {
  height: 75px;
}

.logo-small {
  height: 56px;
}

.card, .z-depth-1 {
	
}

.preview-card-wrapper {
	color: inherit;
}

	.preview-card-wrapper .preview-card {
		
	} 
	
		.preview-card-wrapper .preview-card .preview-card-image {
			/*background-color: #000;*/
		}

		.preview-card-wrapper .preview-card .card-image{
			overflow: hidden;
		}
		
		.preview-card-wrapper .preview-card .card-image img{
			transition: all 200ms linear;
			-webkit-transition: all 200ms linear;
			-o-transition: all 200ms linear;
			-moz-transition: all 200ms linear;
		}

		.preview-card-wrapper:hover .preview-card .card-image img{
			-webkit-transform:scale(1.15); /* Safari and Chrome */
			-moz-transform:scale(1.15); /* Firefox */
			-ms-transform:scale(1.15); /* IE 9 */
			-o-transform:scale(1.15); /* Opera */
			transform:scale(1.15);
		}

.hours {
	margin-top: 0;
}

	.hours ul li {
		font-size: 24px;
		font-weight: 300;
	}

footer {
	
}
	footer .row {
		margin-bottom: 0;
		padding: 15px 0;
		color: #fff;
	}
	
address {
  font-style: normal;
}
  
.input-field label {
  left: 0;
}

.menu-section-title {
  padding: 25px 20px 20px;
  margin-bottom: 10px;
}

.menu-item {
  padding: 5px 20px;
}

  .menu-item .menu-item-title {
    vertical-align: bottom;
    border-bottom: 1px solid #9e9e9e;
  }
  
  .menu-item .menu-item-price {
    margin-left: 10px;
  }
  
.parallax-container {
  z-index: 1;
}

.hours-dropdown-link > .dropdown-button > i.material-icons {
	margin-left: 2px;
}

ul#hours-dropdown > li {
	cursor: default;
}

.side-nav li:hover, .side-nav li.active {
	background-color: rgba(0,0,0,0.2);
}